@font-face {
    font-family: 'MSG';
    src: url('/statics/Fonts/MSG.ttf') format('truetype');
  }
  
  body {
    background-image: url('/statics/Images/codec.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'MSG', Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    position: relative;
    width: 100%;
  }
  
  #timer {
    font-family: 'MSG';
    font-size: 75px;
    position: absolute;
    left: 51%;
    top: 10%;
    transform: translate(-50%, -50%);
  }
  
  .study-timer-heading {
    position: absolute;
    font-size: 30px;
    top: -980%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .study-hours-text {
    position: absolute;
    font-size: 22px;
    top: 280%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  input[type="number"] {
    width: 17%;
    position: absolute;
    top: 450%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  button {
    font-family: 'MSG';
    font-size: 20px;
    position: absolute;
    top: 550%;
    left: 50%;
    transform: translateX(-50%);
  }
  